.bannerImagen
{
   width: 100%;   
   height: 460px;
}
.bannerFormulario
{
   position: absolute;
    margin-top: -16.6%;
    width: 100%;
    text-align: center;
    font-weight:300;
    font: Light 61px/122px Montserrat;
    letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
}

.bannerFormulario2
{
   position: absolute;
    margin-top: -8.6%;
    width: 100%;
    text-align: center;
    font-weight:300;
    font: Light 61px/122px Montserrat;
    letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
}

.left-input
{
   margin-left: 24%;
   position: absolute;
   margin-top: -11.6%;
   width: 100%;
   text-align: center;
   font-weight:300;
   font: Light 61px/122px Montserrat;
   letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.input-govco {
   color: #0b457f !important;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0 !important; 
   border-top-left-radius: 0!important; 
   border-bottom: 1px solid #004884 !important;
   background-color: #e5eefb;
   border: unset;
   line-height: 1.4 !important;
   border-radius: 24px !important;
   width: 792px !important;
}