
    <div class="mt-8">
        <img src="../../../assets/Imagenes/banner.png" class="bannerImagen">
     
        <h1 class="eadline-xl-govco text-white bannerFormulario" *ngIf="Isdatos">{{Informacion.Banner.Titulo1}}</h1>
        <input type="text" class="form-control input-govco  left-input text-left"  *ngIf="Isdatos" placeholder="{{Informacion.Banner.placeholder}}" id="input-simple-govco" required>
        <h1 class="eadline-xl-govco text-white bannerFormulario2" *ngIf="Isdatos">{{Informacion.Banner.Titulo2}}</h1>
    </div>