.certificado{
    border-style: solid;
    border-color: #3772FF;
    height: 446px;
}
// .card-bodyrow
// {
//    margin: 10px;
// }
.govco-card-header
{
    letter-spacing: 0px !important;
    color: #3772FF !important;
    opacity: 1 !important;
    font-weight: 300;
    font-size: 16px;;
}

.certificadoplus
{
    top: 481px !important;
    left: 431px !important;
    width: 26px !important;
    height: 26px !important;
    color:  #3772FF !important;
    opacity: 1;
}

.bodymnensaje 
{
    font-size: 31px;
    font-weight: 300;
    color: #004884;
}

.mensaje 
{
    text-align: left;
    font: Regular 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.btnlinea{
    color: #069169 !important;
    font-size: 1.2rem !important;
    margin: auto;

}
.btnlineaverde{
    color: #3772FF !important;
    font-size: 1.2rem !important;
    margin: auto;
}

.textrightLinea
{
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400 !important;
    color: #069169 !important;
    line-height: 1.5 !important;
}

.textrightblue
{
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400 !important;
    color: #0B457F !important;
    line-height: 1.5 !important;
}

.footerseccion-activo
{
    background: #3772FF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    padding-right: 0px;
    cursor: pointer;
}

.footerseccion
{
    background: #BABABA  0% 0% no-repeat padding-box;
    opacity: 1;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    padding-right: 0px;
}

.list-group-item{
    border-left: none;
    border-right: none;
}

.text-blue
{
    letter-spacing: 0px;
    color: #0B457F !important;
}

.text-blue-blod
{
    letter-spacing: 0px;
    color: #0B457F;
    font-weight: 600;
}

list-group-item:first-child {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.list-group-item 
{
    padding: 0px !important;
    border-radius: 0px !important;
    border-top: none !important;
}

.opiniontitulo{
    text-align: left;
    font: Light 44px/60px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
    font-weight: 300;
    margin-top: 14px;
}

.seccion
{
    margin-top: 6%;;
}
.headeropinion
{
    text-align: left !important;
    font-family: Work Sans !important;
    letter-spacing: 0px !important;
    color: #0B457F !important;
    text-transform: capitalize !important;
    font-size: 30px !important;
}
.text-blue{
    color: #0B457F;
}

.mensajeopinion
{
    font-size: 14px;
    font-weight: 400;
}
.btn-middle{
color: #3772FF !important;
border-color: #3366CC !important;
background-color: white;
}

.tituloopiones
{
    width: 246px !important;
    height: 25px !important;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font: Bold 16px/19px Montserrat;
}


.fondonaranga
{
    background: #F3561F 0% 0% no-repeat padding-box;
    text-transform: uppercase;
}
.fondonverder
{
    background: #069169  0% 0% no-repeat padding-box;
    text-transform: uppercase;
}

.fondonazul
{
    background: #3772FF   0% 0% no-repeat padding-box;
    text-transform: uppercase;
}
.list-group-itemopion 
{
    padding: 0px !important;
    border-radius: 1px !important;
    border-top: none !important;
}
.margencard
{
    margin-top: -9%;
}

.estiloimageb
{
    height: 290px; /* You must set a specified height */
  background-position: center; /* Center the image */
  border-radius: 6%;
}
.informae1imagen
{
    background-image: url("../../../../assets/Imagenes/Informate1.png");
    background-repeat: no-repeat;
}

.informae2imagen
{
    background-image: url("../../../../assets/Imagenes/Informate2.png");
    background-repeat: no-repeat;
}

.img-thumbnail
 {
    border-radius: 24px !important;  
    background-color:none!important;
    border: none !important;  
}

.govco-cardalto
{
    height: 114px;
}
.cardinteres
{
    width: 601px;
    height: 243px;
}

.margintop
{
    margin-top:-19.5%;    

}
.margintop4
{
    margin-top:-22.5%;    
}



.btn-high, .btn-high-mix-govco
{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}
@media (min-width: 1200px)
{
    .container {
        max-width: 96%;
    }
}
